# Introduction to Spark
Spark is a computing framework for handling and analysing big data -- like Hadoop. However whilst with Hadoop, all MapReduce operations are done to and from disk, Spark does everything in-memory. This makes Hadoop great for (slow) batch processing, and Spark more optimised for faster, or even real-time analyisis.

More than anything else, the goal from this notebook is to understand how we would use Spark if we so wished to, be it in a professional or personal context. Since it's a massive framework with a multitude of functionalities, this will only cover the building blocks of Spark, the basics of reading and transforming data, and making predictions (and evaluating those predictions) using the PySpark ML module.

<br>

<u>**Note**</u> <i>Spark itself, and therefore coding in Spark is above and beyond the BCS and EMC curricula. To reiterate the above, this is all extra material that only serves to give us a flavour of how Spark (in Python) would work if we wished to apply it.</i>

### Business problem
We will attempt to go through the data pipeline by addressing a churn prediction problem: we've been asked by a marketing agency to predict their customer churn so they could pre-empt with appropriate action.

## Libraries
First, let's import the necessary libraries. Today, all we'll really be needing is `pyspark`, which is Spark's API in python. We also import pandas though in case we want at any point to convert our Spark dataframe into the more familiar pandas equivalent.

In [1]:
# Pandas for manipulation, transformation, and conversion from Spark dataframe to pandas if we so wish
import pandas as pd 

# Spark API -- can be used for data reading, transformation, machine learning, SQL and streaming at scale.  
import pyspark

## Initiating SparkSession

In order to use Spark -- in pyton or otherwise -- we need to first set up a 'session' or a connection.

In [2]:
# Initiating a 'sparksession' or a connection to our spark cluster
spark = pyspark.sql.SparkSession.builder.master('local[*]').appName('customer_churn').getOrCreate()

# Conventionally, we'd call the connection, 'spark'

Notes from the above line:

- We build the SparkSession from the `sql` module from Pyspark.
- In `master()` we specify the cluster we're connecting to -- could be a URL for example for a remote cluster. In this case, however, we'll stick to running Spark locally. To do this we specify _local_, and we then put __*__ within square brackets to tell it that we want to use all the cores in our computer. We could have instead said _local[2]_ for instance to tell it to use only 2 cores.
- With `appName()` we give our Spark App an arbitrary name in case we need to call on it later. 
- Finally with `getOrCreate()` we tell Pyspark to create this app with the minimal configurations we've set (there are many more parameters we could have tweaked, but for now, we're happy with the above).

In [3]:
# Let's see what this looks like:
spark

Note that it simply returns the configurations we've specified -- e.g. AppName, and Master. We also see that it returned to us the version of Spark we're using, and confirmed that this SparkSession is running in-memory. 


Also note that clicking on the `Spark UI` link takes us to a 'job' tracker page. Feel free to explore the other tabs as well to get a better understanding of what's under the hood!

## Resilient Distributed Datasets (RDDs)

Before Spark Dataframes, which we'll look at in a minute, there were RDDs. In fact RDDs are the building blocks of Spark. They have the following features: 

- **Resilient** -- they are resilient because they're immutable, i.e. they cannot be changed, only new RDDs can be created from old ones. <br> <br>
- **Distributed** -- Spark handles data somewhat like HDFS and MapReduce (but not exactly) in that it also stores and processes data in a distributed manner. RDDs are partitions of bigger datasets -- and by virtues of being partitions, they are distributed. <br> <br>
- **Datasets** -- because they hold data! <br><br>

__________
#### **Important Note**:    <i>'Lazy loading'</i>
Spark is fast in general because it executes operations in-memory, as mentioned. However, it's actually even faster because of a feature embedded in it called 'lazy loading.'

All this means is, Spark will not actually execute operations in-memory all the time, just when we tell it to return a value/result. When we tell it to return a result, in Spark terminology, that's called an **`action`** -- includes things like counting the number of rows, showing the dataframe, or writing it to a file system. In contrast, a **`transformation`** is also a function, but it doesn't actually trigger any computation, it just 'acknowledges' a task in a sense. 

For instance, whenever you create a new dataset from the original one by transforming it using say, a groupBy, or if you take a sample, that will be a transformation, and won't actually run in-memory. However, if you tell it ro return that output, only then will that operation (and every operation leading to the output) will actually run in-memory. This distinction that Spark makes between transformations and actions make it run even quicker.  

For a more comprehensive list of examples of transformations vs. actions, check out [this documentation for RDDs](http://spark.apache.org/docs/latest/rdd-programming-guide.html#actions) and [this documentation](https://spark.apache.org/docs/2.0.0/api/java/org/apache/spark/sql/Dataset.html) for dataframes (explained below!).
__________



Now, let's see if we can load in our data as an RDD first!

In [4]:
# To do this, we load up a SparContext
sc = spark.sparkContext

In [5]:
# Let's see what this looks like
sc

Note the only difference between this and our SparkSession above is that here we're missing the top bit that says `SparkSession - in-memory`. 

**Note**: Before Spark 2.0, we would have had set up SparkContexts for using Spark syntax, SqlContexts for using any SQL queries, StreamingContexts for streaming etc. After 2.0, Spark developers added in SparkSessions, which serve as an 'umbrella' context for all other contexts -- so we don't need to worry about creating separate contexts for separate Spark features anymore!

In [6]:
# We read in the CSV file using 'textFile'
rdd = sc.textFile('agency_churn.csv')


# Note: of course we didn't need to call it rdd, it's just a variable name!

In [7]:
# Check the type of the object:
type(rdd)

pyspark.rdd.RDD

In [8]:
# Return the first row/element in this RDD
rdd.first()

# Note: First() is an action

'Names,Age,Total_Purchase,Account_Manager,Years,Onboard_date,Location,Company,Churn'

In [9]:
# More generalised form of first() -- i.e. will show more than the first row, in this case the first 4 rows 
rdd.take(4)

# Note: Take() is an action

['Names,Age,Total_Purchase,Account_Manager,Years,Onboard_date,Location,Company,Churn',
 'Cameron Williams,42,11066.8,0,7.22,2013-08-30 7:00:40,"10265 Elizabeth Mission Barkerburgh, AK 89518",Harvey LLC,1',
 'Kevin Mueller,41,11916.22,0,6.5,2013-08-13 0:38:46,"6157 Frank Gardens Suite 019 Carloshaven, RI 17756",Wilson PLC,1',
 'Eric Lozano,38,12884.75,0,6.67,2016-06-29 6:20:07,"1331 Keith Court Alyssahaven, DE 90114","Miller, Johnson and Wallace",1']

In [12]:
# Return all row objects (an action)
rdd.collect()

['Names,Age,Total_Purchase,Account_Manager,Years,Onboard_date,Location,Company,Churn',
 'Cameron Williams,42,11066.8,0,7.22,2013-08-30 7:00:40,"10265 Elizabeth Mission Barkerburgh, AK 89518",Harvey LLC,1',
 'Kevin Mueller,41,11916.22,0,6.5,2013-08-13 0:38:46,"6157 Frank Gardens Suite 019 Carloshaven, RI 17756",Wilson PLC,1',
 'Eric Lozano,38,12884.75,0,6.67,2016-06-29 6:20:07,"1331 Keith Court Alyssahaven, DE 90114","Miller, Johnson and Wallace",1',
 'Phillip White,42,8010.76,0,6.71,2014-04-22 12:43:12,"13120 Daniel Mount Angelabury, WY 30645-4695",Smith Inc,1',
 'Cynthia Norton,37,9191.58,0,5.56,2016-01-19 15:31:15,"765 Tricia Row Karenshire, MH 71730",Love-Jones,1',
 'Jessica Williams,48,10356.02,0,5.12,2009-03-03 23:13:37,"6187 Olson Mountains East Vincentborough, PR 74359",Kelly-Warren,1',
 'Eric Butler,,11331.58,,5.23,2016-12-05 3:35:43,"4846 Savannah Road West Justin, IA 87713-3460",Reynolds-Sheppard,1',
 'Zachary Walsh,32,9885.12,1,6.92,2006-03-09 14:50:20,"25271 Roy Expressway Suite 147 Brownport, FM 59852-6150",Singh-Cole,1',
 'Ashlee Carr,43,14062.6,1,5.46,2011-09-29 5:47:23,"3725 Caroline Stravenue South Christineview, MA 82059",Lopez PLC,1',
 'Jennifer Lynch,40,8066.94,1,7.11,2006-03-28 15:42:45,"363 Sandra Lodge Suite 144 South Ann, WI 51655-7561",Reed-Martinez,1',
 'Paula Harris,30,11575.37,,5.22,,Unit 8120 Box 9160 DPO AA 43432,"Briggs, Lamb and Mathews",1',
 'Bruce Phillips,45,8771.02,1,6.64,2015-05-28 12:14:03,Unit 1895 Box 0949 DPO AA 40249,Figueroa-Maynard,1',
 'Craig Garner,45,8988.67,1,4.84,2011-02-16 8:10:47,"897 Kelley Overpass Suite 349 West Rebekahport, AZ 44793",Abbott-Thompson,1',
 'Nicole Olson,40,8283.32,1,5.1,2012-11-22 5:35:03,"11488 Weaver Cape Hernandezberg, WI 63417-8544","Smith, Kim and Marshall",1',
 'Harold Griffin,41,6569.87,1,4.3,2015-03-28 2:13:44,"1774 Peter Row Apt. 712 New Autumn, MT 18782","Snyder, Lee and Morris",1',
 'James Wright,38,10494.82,1,6.81,2015-07-22 8:38:40,"45408 David Path East Kimberlyshire, HI 54903-6698",Sanders-Pierce,1',
 'Doris Wilkins,,8213.41,1,7.35,2006-09-03 6:13:55,"28216 Wright Mount Apt. 356 Alichester, DE 40999-2369",,1',
 'Katherine Carpenter,43,11226.88,0,8.08,2006-10-22 4:42:38,Unit 4948 Box 4814 DPO AP 42669,"Morgan, Phillips and Harrell",1',
 'Lindsay Martin,53,5515.09,0,6.85,2015-10-07 0:27:10,"69203 Crosby Divide Apt. 878 Parkerview, CO 87064",Villanueva LLC,1',
 'Kathy Curry,46,8046.4,1,5.69,2014-11-06 23:47:14,"9569 Caldwell Crescent Tanyaborough, RI 30637","Berry, Orr and Cabrera",1',
 'Dean Miller,41,9771.22,0,5.81,2013-05-30 0:42:13,"803 Kelli Crossing Apt. 169 Jimenezberg, WV 56530-4240",Parks-Bradley,1',
 'Kevin Ramos,56,12217.95,1,5.79,2016-11-17 14:37:01,"5775 Jared Stream Apt. 881 Port Jenniferfort, CO 63506-4063",Olsen LLC,1',
 'Jennifer Wood,35,9381.12,1,6.78,2006-03-27 20:52:42,"1493 Phillips Haven Lake William, FM 00995-2870","Clark, Campbell and Armstrong",1',
 'Paul Walker,41,10474.94,0,6.4,2012-01-02 5:08:52,"73006 Patty Avenue Apt. 646 New Sarahburgh, NV 24826",Dalton LLC,1',
 'Lindsey Day,55,11158.5,1,4.86,2007-01-07 1:21:47,"85934 Dakota Mall Timothyville, MI 72421","Thompson, Hansen and Sanchez",1',
 'Steven Hernandez,54,,0,4.26,2015-04-05 15:57:24,"14609 Perez Turnpike Bradleyberg, DE 99755","Yates, Martinez and Cox",1',
 'Danielle Kirk,35,12403.81,0,4.42,2007-07-31 6:39:54,"20117 Johnson Ports Apt. 914 Jenniferfort, DC 40595",Reeves-Curtis,1',
 'Troy Oliver,40,10041.13,0,7.61,2006-07-30 15:27:23,USCGC Blake FPO AA 66377-6894,Gates Ltd,1',
 'Darlene Evans,44,12721.55,0,5.18,2011-04-25 2:53:25,"950 Christina Viaduct Anastad, IL 03324-2274",Dunlap and Sons,1',
 'Mrs. Sarah Morales,37,8284.89,1,5.6,2009-03-25 6:10:01,"8807 Young Village Joneston, AR 56462","Taylor, Allen and Gardner",1',
 'Laura Pierce,54,10661.48,1,5.16,2011-12-26 22:06:03,"PSC 3912, Box 7208 APO AA 23623",Charles-Branch,1',
 'Carla Ball,45,10793.11,1,4.65,2016-12-28 4:07:38,"754 Shannon Mall South Shawn, AS 29886-0448",Barton Inc,1',
 'Robert Hill,46,9322.44,1,2.69,2010-11-16 13:22:18,"2088 Kelli Way Millertown, MT 37058","Stevens, Harris and Greene",1',
 'Joseph Harrell,44,9814.22,1,5.45,2010-01-23 7:15:58,USCGC Bell FPO AE 94532,"Fitzgerald, Sherman and Lowe",1',
 'Tammy Shepherd,48,11740,1,4.97,2011-03-06 1:34:58,"234 Gonzalez Terrace Santiagohaven, CO 28918-5500",Martin Ltd,1',
 'Kelly Carroll,37,14383.36,0,7.84,2011-04-05 0:21:51,"8268 Baker Rapid Suite 712 Alexiston, TN 05207-2057","Juarez, Pugh and Vargas",1',
 'Heidi Munoz,38,11887.39,0,5.83,2009-10-15 17:14:01,USCGC Mason FPO AA 96632-5067,Mckinney-Rogers,1',
 'Thomas Sawyer,48,10367.08,1,6.45,2008-10-06 17:15:00,"8113 Rodriguez Court Sheribury, SC 88474","Lopez, Kelly and Armstrong",1',
 'Erin Rivera,37,8198.06,1,5.04,2016-11-06 1:13:12,"34727 Randy Prairie Apt. 275 South Pamelashire, AS 63214-4216","Wilkins, White and Martin",1',
 'Raymond Berry,41,7777.37,0,4.81,2014-01-20 8:53:20,"75210 Mark Mill Apt. 397 Donnamouth, MA 40404-7466","Evans, Logan and Wilson",1',
 'Patrick Bell,41,11699.26,0,6.99,2010-03-31 14:45:01,"93345 Monique Tunnel Apt. 431 North Chase, NJ 30518",Clark-Kramer,1',
 'Jason Jones MD,55,16838.94,1,6.66,2007-10-05 15:48:38,"52454 Jessica Passage Apt. 097 Mitchellburgh, AS 30584-9004",Brown-Richardson,1',
 'Jermaine Johnson,36,10484.33,1,8.84,2008-04-29 9:07:51,"4102 Griffin Courts Middletonton, FM 48608","Dunlap, Hughes and Taylor",1',
 'George Archer,37,8736.06,1,5.51,2014-12-23 19:38:52,"5645 Henderson Streets Brandystad, CA 92343",Smith Inc,1',
 'Richard Fields,50,10850.78,1,5.63,2010-06-18 7:10:58,"451 Flynn Streets Morenobury, NE 64722-7132",Brown-Bishop,1',
 'Amanda Roberts,43,8601.01,0,5.65,2007-02-03 17:52:51,"PSC 9561, Box 4071 APO AA 92200-5783",Evans LLC,1',
 'David Kennedy,45,11170.06,1,7.76,2011-01-26 19:05:24,"56990 Laurie Gardens Suite 145 West Tara, OH 24389",Williams-Hoffman,1',
 'Adam Waters,40,11185.62,0,6.26,2006-03-06 18:36:47,"6040 Juan Forge Parrishville, NJ 27948",Reed Ltd,1',
 'Patricia Elliott,36,9793.42,0,5.98,2007-11-27 12:24:48,"9072 Martinez Squares Suite 404 New Emilystad, NH 26441-4895",Ortiz Ltd,1',
 'Summer Haley,43,12524.68,0,5.98,2010-05-27 4:46:05,"312 Wilson Oval Suite 872 East Michaeltown, MN 40127-6212","White, Vargas and Moore",1',
 'Brittany Jackson,50,12682.9,0,4.58,2006-09-11 7:07:17,"082 Roth Island Daniellefurt, DE 69027-7185",Mcdonald-Cooper,1',
 'Shawn Chavez,44,14036.28,1,7.25,2009-01-30 1:58:56,"42028 Hampton Flat Apt. 206 North Samuelburgh, ME 73072","Carter, Murphy and Valenzuela",1',
 'Laura Fleming,41,10179.92,1,5.97,2010-02-25 0:17:52,"7023 Courtney Lodge Suite 935 Coxtown, NE 89508","Knight, Hammond and Mccoy",1',
 'Marcus Garza,46,12772.72,1,6.46,2010-07-03 18:56:05,"06806 Lyons Drive Apt. 864 Port Michaelview, MH 56506","Holland, Jones and Schmidt",1',
 'Heather Murphy,46,12122.19,0,7.53,2015-12-30 18:49:35,"1264 Williams Views Suite 114 Port Isaac, VI 31105-1539","Petersen, Howard and Bowen",1',
 'Jeffrey Hill,40,9922.3,1,5.07,2006-09-22 20:58:51,"97907 Jensen Forge Brianmouth, MH 69993-8000","Williams, Bautista and Carr",1',
 'Amy Griffin,48,4771.65,0,3.77,2007-06-19 4:30:13,"062 Trevor Falls Suite 665 North Mathewchester, MH 93744",Larson-Hall,1',
 'Michelle Hill,42,10827.96,1,4.2,2008-11-10 19:35:05,"45946 Day Springs Mendozastad, NJ 46404","Pierce, Peterson and Maldonado",1',
 'David Rodriguez,38,8642.01,1,4.76,2014-08-13 17:14:07,"7318 Graham Ville Apt. 633 Gibsonview, MI 04337-6720",Walker-Baker,1',
 'Daniel Bartlett,45,6749.49,0,5.88,2006-08-19 17:13:19,"353 Gregory Spur Mariaburgh, KY 66125",Owens Group,1',
 'Cheyenne Rogers,36,6447.99,1,5.52,2009-05-07 22:19:35,"58379 Amber Knoll Blackburgh, MH 69646-4368",Evans LLC,1',
 'Seth Lopez,44,11091.21,0,5.9,2007-07-10 15:33:56,Unit 2311 Box 4695 DPO AA 98374,Hodges LLC,1',
 'Brittany Hopkins,55,5024.52,0,8.11,2010-02-10 10:22:37,"2529 King Knoll Apt. 210 Michelleshire, NH 14266",Dixon-Love,1',
 'Carla Patterson,58,12376.37,0,6.01,2007-12-08 8:05:11,"350 Gregory Isle South Tinaland, WI 44398","Pittman, Watts and Fitzgerald",1',
 'Michelle Holloway,49,12458.8,0,5.04,2013-01-21 13:44:09,"6431 Kimberly Harbors South Dylan, MS 05388-2846","Martinez, Clark and Jackson",1',
 'Kenneth Bryant,47,7222.35,0,6.41,2015-06-27 10:57:19,"274 Randy Ports Apt. 228 Gomezside, KY 96667-1028",Davis and Sons,1',
 'Cody Williams,38,11758.69,0,6.97,2016-08-14 18:04:40,USNS Lewis FPO AE 38853,"Farley, Clark and Peterson",1',
 'Lori Ross,55,8772,1,6.43,2006-03-01 20:57:16,"65806 Dean Plaza Apt. 089 West Jacobfort, AR 83049","Butler, Harrison and Hall",1',
 'David Montes,45,7351.38,0,5.76,2016-10-06 23:11:34,"666 Julie Ports Apt. 094 South Johntown, MO 10168-2804",Watson-Hall,1',
 'Robin Rowe,30,7960.64,1,2.72,2016-04-15 12:08:15,"87953 Fuller Turnpike Apt. 510 Russellstad, MH 32784-9434","Bradley, Mejia and Williams",1',
 'Amber Spears,41,13365.66,1,8.36,2008-07-26 3:00:31,"455 Garcia Via Suite 177 Lake Jefferyside, MN 81187",Gray Inc,1',
 'Kathy Johnson,32,8617.98,1,6.2,2008-05-14 16:07:30,"570 Smith Mountains Hunterview, OK 46533",Jordan-Murphy,1',
 'Thomas Rose,52,11849.13,0,6.8,2012-08-18 9:16:47,"9928 Lawson Court Andersonborough, KS 54353-7605","Lynch, Padilla and Myers",1',
 'Sandra Williams,37,11145.95,1,5.87,2013-01-10 10:11:44,"0728 Melton Avenue Robertville, KY 71675-3667",Baker Ltd,1',
 'Nathan Murphy,42,9577.42,0,5.86,2012-01-18 0:52:28,"34489 Andrew Wells North Charlesport, RI 48537",Deleon Ltd,1',
 'Ryan Weaver,39,10110.4,1,5.78,2009-03-10 21:58:42,"8306 Nicole Lane Moranmouth, PR 36299","Keith, Richardson and Thomas",1',
 'Jennifer King,43,8024.08,0,4.08,2016-02-20 7:00:09,"44850 Dennis Meadows Suite 044 Dariusland, IL 05918","Hunter, Reyes and Rivera",1',
 'Theresa Berry,52,8563.24,0,5.29,2010-03-24 16:20:07,"1733 Theresa Port North Jason, WY 15864",Jones LLC,1',
 'Robin Burke,40,9403.58,1,6.01,2014-07-31 1:07:38,"7225 James Corners Christopherville, OH 19625-4299",Patel PLC,1',
 'Todd Thompson,38,12520.53,1,6.3,2008-10-19 9:18:12,"2779 Dalton Ports New James, AS 59322-0419","Guzman, Johnson and Berry",1',
 'John Thomas,53,13655.59,1,2.05,2013-12-24 14:28:20,"342 Jensen Dam West Kylehaven, PW 89702-0398","Sanchez, Carter and Gross",1',
 'Timothy Johnston,41,12680.46,0,5.92,2010-03-29 17:41:53,"44906 Walker Plaza Sanchezshire, AK 41013-8944","Cole, Shelton and Atkinson",1',
 'Sarah Holloway,45,8429.65,1,7.1,2006-08-26 16:40:13,"099 Lopez Crescent Jamesport, OK 31273",Harrison-Ferrell,1',
 'Scott Chambers,44,11424,1,5.98,2011-11-16 6:51:37,"9525 Allen Camp Apt. 362 West Dawnmouth, GA 04347","Davis, Cole and Thompson",1',
 'Kathryn Ponce,46,13725.55,0,5.09,2006-03-04 0:11:53,"43798 Jones Garden Apt. 027 Monicashire, ND 82344","Cochran, Molina and Higgins",1',
 'Patrick Robinson,47,7396.1,0,4.11,2014-03-10 6:51:20,"753 Sara Fall Lake Erinmouth, OK 02340-4525",Tran-Rodriguez,1',
 'Laurie Green,51,8100.43,1,4.92,2006-01-14 1:47:07,"74631 Kyle Mountain Apt. 268 Andrewmouth, MI 55255","Callahan, Hinton and Murray",1',
 'Amber Hobbs,43,10400.88,0,5.84,2013-03-28 20:04:50,"8044 Bates Spring Jonesborough, LA 63728","Nelson, Ray and Johnson",1',
 'Tina King,40,8625.96,1,6.27,2008-08-07 1:50:30,"80203 Brandon Hill Apt. 353 New Luisport, VA 65076",Franco-Jones,1',
 'David Hess,41,5192.38,1,4.86,2015-11-06 3:12:21,"PSC 1062, Box 1827 APO AA 46087-7414",Johnson-Walker,1',
 'Jose Lee,45,12455.38,0,3.26,2015-02-24 14:54:33,"036 Hunter Heights Suite 701 New Rickey, HI 95539-9622",Nelson LLC,1',
 'Brian Young,49,10522.21,0,7.25,2014-11-08 0:40:36,Unit 6711 Box 7964 DPO AA 27820,Munoz Ltd,1',
 'Erica Flores,38,9624.18,0,5.53,2008-12-22 6:09:17,"421 Kevin Shoal Grahamport, RI 11504",Carey Ltd,1',
 'Brenda Hall,37,11628.1,1,6.83,2010-02-20 16:08:12,"1877 Tara Streets West Sarah, MN 39500",Rosales Inc,1',
 'Dakota Williams,41,13190.3,1,7.38,2012-09-12 14:15:03,"22194 Hernandez Roads Hubbardville, MH 97331-5191","Hughes, Evans and Richardson",1',
 'Tammy Reed,49,13173.8,1,6.36,2007-10-09 18:07:48,"3067 Lindsay Road Apt. 683 Port Jonathan, NY 84626-8850",Russo-Rivas,1',
 'Devin Cook,29,8688.17,1,5.7,2015-02-05 11:35:45,"237 Antonio Lock Lake Christianville, IN 42022",Fleming LLC,1',
 'Joseph Mitchell,40,11434.61,1,8.51,2009-11-17 23:38:40,"3422 Zhang View Estradabury, SC 66970-2923",Lee LLC,1',
 'Brett Allen MD,45,12309.39,1,4.57,2008-02-07 15:42:36,"03559 Rodriguez Prairie Apt. 826 Rachelfurt, ND 85441",Brown-Rangel,1',
 'Daniel Bates,30,10744.14,1,7.16,2008-09-13 11:53:42,"488 Lewis Village Crawfordborough, WY 43563",Hunt PLC,1',
 'Chelsea Ward,43,12104.25,0,5.86,2009-09-27 4:12:53,"5279 Grace Mountain Loriland, IL 83900","Hatfield, Johnson and George",1',
 'Ryan Richardson,45,11599.27,1,4.78,2006-11-22 21:46:31,"31574 Sarah Pine Apt. 359 Harryside, NJ 02405-8870",Cross-Jones,1',
 'Stephen Callahan,42,6635.19,0,6.68,2006-07-24 18:29:33,USS Booth FPO AP 73462,Shaw-Rivera,1',
 'Mrs. Melinda Davila,51,10978.16,1,6.95,2013-08-10 2:49:37,"5843 Byrd Corner Monicaport, SC 44357",Perry and Sons,1',
 'Carla Howell,44,13743.27,0,7.8,2011-06-11 0:48:58,"55353 Barker Burg East Willietown, HI 30805","Edwards, Webster and Gross",1',
 'Eric Kelley,43,10271.19,1,5.31,2011-07-19 10:28:53,"98472 Meghan Mall Port Lauren, LA 49472","Santos, Hoffman and Harper",1',
 'Randy Hayes,43,6715.23,0,4.16,2007-02-17 15:33:59,"PSC 1001, Box 5072 APO AP 43490",Taylor-Vaughn,1',
 'Jeffrey Glenn,50,10199.44,0,5.79,2012-10-09 17:29:23,"6431 Caldwell Spring Port Gregorymouth, VI 76545-9829",Medina-Dominguez,1',
 'Megan Tucker,38,11386.56,0,8.82,2011-11-20 17:11:17,"63080 Christopher Fork Suite 353 Jacobshire, TN 98279-1399",Taylor-Guerrero,1',
 'Michael Acosta,49,12112.53,0,7.31,2012-03-03 18:57:24,"73511 James Skyway Apt. 750 Port Scott, FM 96780",Ward-Bennett,1',
 'Eileen Reyes,34,9228.84,1,5.29,2006-11-25 12:38:21,"0235 Taylor Lakes Suite 365 East Michaelfort, AL 61409-7098",Curtis PLC,1',
 'Mr. Jerome Dawson,36,6330.43,1,5.43,2010-08-24 0:52:55,"675 Jones Viaduct Samanthastad, MT 88716-7510",Oconnell LLC,1',
 'Katie Sutton,40,11611.51,1,5.64,2010-06-19 16:02:16,"564 Amanda Park Apt. 388 Watsonport, NJ 61471-7559",Patrick Inc,1',
 'Dr. Kylie Mccann,37,8397.41,0,5.59,2008-06-07 21:35:55,"150 Steven Center Port Randallshire, SC 42333-2817",Shepherd LLC,1',
 'Jose Kelly,49,9714.47,0,5.7,2014-11-04 4:05:34,"205 Lewis Ports Suite 146 New Lukehaven, NE 61616","Fisher, Torres and Ramsey",1',
 'Nicholas Levy,51,11602.11,1,5.3,2012-04-06 10:12:15,"668 Walker Trace Apt. 580 Samanthaside, FL 56884",Pruitt-Thompson,1',
 'Jennifer Carrillo,35,12871.79,0,4.64,2006-03-25 1:04:53,"659 Robertson Lake Lake Peggy, CT 28993",Ingram-Swanson,1',
 'April Freeman,41,9923.79,1,4.75,2011-08-28 3:41:36,"16914 Oconnell Forge Apt. 477 Atkinsonmouth, MD 32666","Larson, Ross and Ward",1',
 'Hunter Rivera,26,8787.39,1,5.42,2014-12-18 19:58:36,"233 Mark Vista New Russellbury, FL 08810","Tate, Hall and Moreno",1',
 'Travis Ellis,46,12200.31,0,6.62,2010-10-20 0:12:32,"730 Doris Drive Suite 569 Port Adam, KY 42352",Ramirez-Mendoza,1',
 'Tommy Frey,38,8825.87,1,8.97,2008-01-06 9:57:34,"200 Craig Spur Suite 465 Wadeton, NC 47363",Garcia-Owens,1',
 'Nicole Friedman,44,8615.52,0,7.39,2006-10-19 23:02:34,"77755 John River Kendrafurt, MP 02175-9994","Miranda, Summers and Moran",1',
 'James Newman,35,9766.95,1,4.59,2008-02-29 14:17:57,"1317 Dillon Gardens Michaelville, ME 91569-7889","Griffin, Tucker and Lee",1',
 'Stephanie Gonzales,36,11550.29,0,6.46,2014-01-13 5:18:56,"437 Alex Glens Melindaburgh, ID 78010-8240",Young-Dunn,1',
 'Mary Aguilar,50,6244.75,0,4.64,2015-12-18 13:28:17,Unit 6345 Box 0137 DPO AP 41134-6292,Lee-Aguilar,1',
 'Jordan Owens,45,9459.52,0,5.72,2015-07-30 2:34:43,"018 Kristy Mountain Lindseymouth, LA 51400",Reyes PLC,1',
 'Devin Wilson,46,11222.48,0,4.92,2011-02-18 18:11:37,"97426 Carrie Stravenue East Cassandrafort, WV 23196",Cooke Ltd,1',
 'Samantha Fisher,38,14693.45,1,7.01,2011-11-02 16:47:54,"961 Wright Plains Kimberlyborough, AL 59809","Morris, Owens and Sullivan",1',
 'Monique Medina,49,15005.43,1,5.27,2012-07-27 0:30:18,"22013 Matthew Square Johnsonland, LA 27505-9242",Martin-Harris,1',
 'Nathan Gross,42,10276.33,1,6.54,2007-07-01 5:53:17,"1136 Beasley Mountains Apt. 622 Smithton, UT 09411-9465","Robinson, Brown and Stephens",1',
 'Douglas Joseph,44,8474.11,0,6.61,2012-10-01 8:10:23,Unit 9630 Box 8710 DPO AP 69319,Clark PLC,1',
 'Elizabeth Moore,47,8235.74,1,6.2,2007-10-23 5:18:02,"582 Kimberly Lodge Apt. 082 East Victoriastad, NH 73555","Young, Porter and Hill",1',
 'Adam Gomez,48,6495.01,1,5.57,2013-02-06 5:15:06,"2889 Coffey Parks Browningmouth, VT 14924-9744",Thompson Group,1',
 'Timothy Harvey,45,8099.29,1,5.66,2008-06-10 14:07:44,"6596 Ronald Union West Courtney, ND 47185","Scott, Ward and Brown",1',
 'Adam Strong,50,11775.75,1,4.83,2011-02-06 15:02:27,"33071 Melody Isle East Matthew, WV 08980-8853",Harvey-Mcdowell,1',
 'Charles Whitney,39,8667.02,0,6.82,2009-10-23 10:27:41,"8006 Erin Pass Apt. 415 South Karen, LA 27331-0907",Christensen-Mccann,1',
 'Lisa Davis,55,9000.31,1,6.78,2008-05-23 1:04:13,"PSC 5306, Box 1682 APO AP 03229",Obrien PLC,1',
 'Jacob Escobar,50,14398.89,1,5.54,2007-11-13 17:10:55,"4182 Mercer Plains Apt. 624 New Lindsey, WA 84468",White-Dennis,1',
 'Douglas Padilla,38,10863.05,1,5.59,2008-04-28 1:11:37,"063 Andrew Harbor New Kathleenbury, AR 48898",Martinez Ltd,1',
 'Russell Bauer,38,7287.57,1,7.39,2007-04-22 6:22:27,"83221 Hendricks Highway Garciastad, OR 20046-4343",Chambers-Simmons,1',
 'Jessica Horton,43,6992.09,1,6.84,2010-04-21 18:41:43,Unit 7652 Box 7117 DPO AP 06955-1878,Jackson Group,1',
 'Alexis Hill,39,6351.79,0,5.86,2012-03-24 16:13:42,"335 Dyer Shoals Port Patricia, PR 84461-1647",Campbell and Sons,1',
 'Heather Hickman,31,11297.57,1,6.23,2015-03-17 22:32:58,"7259 Brown Street Apt. 385 Monicaport, GU 05916-8374",Moore LLC,1',
 'Steven Stevenson,52,7460.05,0,5.39,2013-10-17 21:48:30,"61756 Walls Ridges East James, IA 34568",George Inc,1',
 'Hailey Sanchez,41,14429.41,1,5.51,2007-09-29 0:43:03,"78018 Ariana Crest Suite 467 North Tamara, IA 84527",Evans-Wagner,1',
 'Randall Weber,34,12983.26,1,6.53,2007-10-14 20:54:33,"447 Lane Street Apt. 689 East Christopher, MI 80796","Torres, Villanueva and Velasquez",1',
 'Anna Bryant,39,8801.86,1,4.43,2007-03-18 11:14:44,"30668 Isabella Freeway Suite 428 Lake Kellyhaven, MP 89074-5017",Bennett Inc,1',
 'Robert Russo,58,9703.93,0,5.16,2010-03-02 16:11:39,"976 Thomas Garden Lake Chad, DC 12638-0139",Hanna-Leonard,1',
 'Tara Burton,49,11177.08,0,4.44,2008-01-07 5:11:46,"713 William Loaf New Christopher, DC 71560-8742",Reed-Fields,1',
 'Yvette Perry,41,8560.76,1,3.99,2015-05-09 18:48:03,"83457 Davis Flats Morachester, GU 52752",Moore and Sons,1',
 'Michael Williams,35,15571.26,0,6.45,2011-12-02 20:13:49,"5728 Michael Rue Riosland, NY 38804-1415",Petty and Sons,0',
 'Connie Golden,39,10268.87,1,3.68,2009-08-19 18:52:21,"3324 Gomez Knolls Suite 591 Farmerchester, LA 37647",Brown-Wagner,0',
 'Seth Griffin,44,12328.03,1,4.6,2006-08-29 2:24:37,"9436 Warner Mill Suite 265 Port Kenneth, OH 00175-5756",Williams PLC,0',
 'Rachel Cherry,52,9782.83,0,3.96,2012-04-17 10:47:29,"3479 Stewart Way Sandersside, ID 69317-8759","Bishop, Tran and Pope",0',
 'Robert Sanders,29,9378.24,0,4.93,2015-08-06 22:29:28,"8199 Christopher Tunnel Suite 537 Warnerside, IN 29023-3624","White, Jones and Nelson",0',
 'Chris Sutton,37,10314.67,1,5.86,2016-06-22 19:20:04,"858 Booth Points South Davidside, AZ 92136-1145",Collins Ltd,0',
 'Kenneth Alexander,30,8403.78,1,4.13,2006-06-28 9:26:57,"032 Jorge Trail Apt. 091 Brianmouth, ID 23964",Torres Inc,0',
 'Jason Taylor,46,5570.45,0,2.23,2012-05-01 6:20:54,"693 Kevin Groves Apt. 158 Debramouth, NV 73809","Moore, Nichols and Miller",0',
 'Dennis Morgan,43,8042.76,0,4.95,2006-04-29 20:25:59,"00103 Jeffrey Crest Apt. 205 Padillaville, IA 90755","Barry, Jordan and Hall",0',
 'Penny Perez,44,10309.15,1,6.35,2006-01-10 18:04:20,"725 Stephanie Springs Apt. 350 South Brianbury, MP 98006",Davis-Travis,0',

**Important note on RDDs**<br>
As we can see from the output above, any action that we apply on RDDs (like `first` or `collect`) returns a 'list' or what are called row objects. Each row object represents a row in our RDD. 

It's critical to note here, that RDDs do not have any columnar structure -- i.e. whilst we can output the first row object, we still have no schema.

## Spark Dataframe
Enter the Spark dataframe -- an object with the same features as RDDs but also has a schema! This makes it our data structure of choice.

In [13]:
# We use the read.csv function that we can access from our SparkSession object, 'spark'
df = spark.read.csv('agency_churn.csv', 
                     header = True, inferSchema = True)

# Note: by default it wasn't reading the first row in as a header, so we specified it to be True.

In [14]:
# Check the type of object we have
type(df)

pyspark.sql.dataframe.DataFrame

In [15]:
# As with Pandas dataframes, we can use .head()
df.head(2)

# Note the output is still row objects

[Row(Names='Cameron Williams', Age=42, Total_Purchase=11066.8, Account_Manager=0, Years=7.22, Onboard_date=datetime.datetime(2013, 8, 30, 7, 0, 40), Location='10265 Elizabeth Mission Barkerburgh, AK 89518', Company='Harvey LLC', Churn=1),
 Row(Names='Kevin Mueller', Age=41, Total_Purchase=11916.22, Account_Manager=0, Years=6.5, Onboard_date=datetime.datetime(2013, 8, 13, 0, 38, 46), Location='6157 Frank Gardens Suite 019 Carloshaven, RI 17756', Company='Wilson PLC', Churn=1)]

In [16]:
# We can also check the columns using the columns attributes (like with Pandas)
df.columns

['Names',
 'Age',
 'Total_Purchase',
 'Account_Manager',
 'Years',
 'Onboard_date',
 'Location',
 'Company',
 'Churn']

In [17]:
# Show the first 4 rows
df.show(4)

# Note: show() is an action for dataframes

+----------------+---+--------------+---------------+-----+-------------------+--------------------+--------------------+-----+
|           Names|Age|Total_Purchase|Account_Manager|Years|       Onboard_date|            Location|             Company|Churn|
+----------------+---+--------------+---------------+-----+-------------------+--------------------+--------------------+-----+
|Cameron Williams| 42|       11066.8|              0| 7.22|2013-08-30 07:00:40|10265 Elizabeth M...|          Harvey LLC|    1|
|   Kevin Mueller| 41|      11916.22|              0|  6.5|2013-08-13 00:38:46|6157 Frank Garden...|          Wilson PLC|    1|
|     Eric Lozano| 38|      12884.75|              0| 6.67|2016-06-29 06:20:07|1331 Keith Court ...|Miller, Johnson a...|    1|
|   Phillip White| 42|       8010.76|              0| 6.71|2014-04-22 12:43:12|13120 Daniel Moun...|           Smith Inc|    1|
+----------------+---+--------------+---------------+-----+-------------------+--------------------+--------------------+-----+
only showing top 4 rows

### Select columns

Notice that the output of the dataframe is far less visually appealing than that of pandas! We have two options here: 
- Forget that Spark (and distributed computing) exists! Let's just stick to pandas.
- Select columns to display instead of all columns, until Spark fixes the display in the next iteration. 

We're going to go with the latter suggestion. To select columns of a Spark dataframe, we can use syntax we're familiar with from Pandas:

In [18]:
# Select columns with [] as with the Pandas
df[['Names',
 'Age',
 'Total_Purchase',
 'Account_Manager',
 'Years', 
 'Onboard_date',
 'Location']].show(2)

+----------------+---+--------------+---------------+-----+-------------------+--------------------+
|           Names|Age|Total_Purchase|Account_Manager|Years|       Onboard_date|            Location|
+----------------+---+--------------+---------------+-----+-------------------+--------------------+
|Cameron Williams| 42|       11066.8|              0| 7.22|2013-08-30 07:00:40|10265 Elizabeth M...|
|   Kevin Mueller| 41|      11916.22|              0|  6.5|2013-08-13 00:38:46|6157 Frank Garden...|
+----------------+---+--------------+---------------+-----+-------------------+--------------------+
only showing top 2 rows

We can also select columns with SQL queries!

In [19]:
# First we have egister the DataFrame as a SQL 'temporary view' i.e.
df.createOrReplaceTempView("churn_table")

# We now have a table called 'churn_table' which we can query as we would a standard SQL database table

In [20]:
spark.sql("SELECT Names, Age, Total_Purchase FROM churn_table LIMIT 4").show()

+----------------+---+--------------+
|           Names|Age|Total_Purchase|
+----------------+---+--------------+
|Cameron Williams| 42|       11066.8|
|   Kevin Mueller| 41|      11916.22|
|     Eric Lozano| 38|      12884.75|
|   Phillip White| 42|       8010.76|
+----------------+---+--------------+

Finally, we can use the standard Spark syntax as so:

In [21]:
df.select('Names', 'Age', 'Total_Purchase').show(4)

+----------------+---+--------------+
|           Names|Age|Total_Purchase|
+----------------+---+--------------+
|Cameron Williams| 42|       11066.8|
|   Kevin Mueller| 41|      11916.22|
|     Eric Lozano| 38|      12884.75|
|   Phillip White| 42|       8010.76|
+----------------+---+--------------+
only showing top 4 rows

### Investigating dataframe schema and data types
As mentioned, the difference between a Spark dataframe and an RDD is that the former has a schema or a column structure.

In [22]:
# We can investigate our schema by using the printSchema() function
df.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Total_Purchase: double (nullable = true)
 |-- Account_Manager: integer (nullable = true)
 |-- Years: double (nullable = true)
 |-- Onboard_date: timestamp (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Churn: integer (nullable = true)

In [23]:
# We can also just choose to look at data types
df.dtypes

[('Names', 'string'),
 ('Age', 'int'),
 ('Total_Purchase', 'double'),
 ('Account_Manager', 'int'),
 ('Years', 'double'),
 ('Onboard_date', 'timestamp'),
 ('Location', 'string'),
 ('Company', 'string'),
 ('Churn', 'int')]

**Note** They seem to all make sense, which is great! However, remember that we specified the `inferSchema = True` way back in the read.csv() function, which tells the function to estimate - or 'infer' - the data types in each of our columns. 


By default however, the _inferSchema_ parameter is set to False. This would have read in all columns as _strings_, and we would have had to change this manually. Hypothetically, if we did want to change the structure manually or if we were dealing with data from which it was difficult to infer a schema (correctly), we could do the following:

In [24]:
# First import necessary functions from the 'types' submodule.
from pyspark.sql.types import (StructField, StructType, 
                               IntegerType, StringType, 
                              FloatType, DateType)

# Note, we imported the following data types here: IntegerType, StringType, FloatType, and DateType as that's all we
# we need. The module has other functions as well though.

We create a new data schema for our data as a list of tuple objects, where each tuple, or element in the list represents a field (column) in our dataframe. To dissect each of those `StructField` objects: 

- <u>Name</u>: This is the name we'll give our column.
- <u>dataType</u>: The data type of the column. This will take any one of the values from the functions imported above.
- <u>nullable</u>: This specifies if the column can take Null values or not. 

Note how this is very similar to creating a database in SQL! Perhaps it's no big surprise though as after all, the work we're doing here is all within the SQL module of Pyspark.

In [ ]:
# We create a new schema - one StructField for each field.
new_data_schema = [StructField(name = 'Names', dataType= StringType(), nullable= True), 
              StructField(name= 'Age', dataType= IntegerType(), nullable= True), 
              StructField(name= 'Total_purchase', dataType= FloatType(), nullable= True), 
              StructField(name= 'Account_manager', dataType= IntegerType(), nullable= True), 
              StructField(name= 'Years', dataType= FloatType(), nullable= True), 
              StructField(name= 'Num_sites', dataType= IntegerType(), nullable= True), 
              StructField(name= 'Onboard_date', dataType= DateType(), nullable= True),
              StructField(name= 'Location', dataType= StringType(), nullable= True),
              StructField(name= 'Company', dataType= StringType(), nullable= True), 
              StructField(name= 'Churn', dataType= IntegerType(), nullable= True)]


# We create a StrucType object from the above.
final_struc = StructType(fields= data_schema)

# We re-read our CSV, this time assigning our StrucType object to the 'schema' parameter as so:
new_df = spark.read.csv('customer_churn.csv.csv', header = True, schema = final_struc)

### Other useful dataframe functions
Namely:
- Summary statistics
- Finding unique values of a column
- Getting the shape

In [25]:
# To get summary stats, we can use the describe() function as with pandas 
df.describe().show()

# again, you'll see a crowded output, so we can select a few columns for the sake of clarity.

+-------+-------------+-----------------+------------------+-------------------+-----------------+--------------------+--------------------+-------------------+
|summary|        Names|              Age|    Total_Purchase|    Account_Manager|            Years|            Location|             Company|              Churn|
+-------+-------------+-----------------+------------------+-------------------+-----------------+--------------------+--------------------+-------------------+
|  count|          900|              898|               899|                898|              900|                 900|                 899|                900|
|   mean|         null|41.81069042316258|10064.888242491663| 0.4799554565701559| 5.27315555555555|                null|                null|0.16666666666666666|
| stddev|         null| 6.13303075073418| 2409.188637458988|0.49987645989755647|1.274449013194616|                null|                null| 0.3728852122772358|
|    min|   Aaron King|               22|             100.0|                  0|              1.0|00103 Jeffrey Cre...|     Abbott-Thompson|                  0|
|    max|Zachary Walsh|               65|          18026.01|                  1|             9.15|Unit 9800 Box 287...|Zuniga, Clark and...|                  1|
+-------+-------------+-----------------+------------------+-------------------+-----------------+--------------------+--------------------+-------------------+

In [27]:
# Let's instead pick a few columns
df.select('Names', 'Age', 'Total_Purchase', 'Churn').describe().show()

+-------+-------------+-----------------+------------------+-------------------+
|summary|        Names|              Age|    Total_Purchase|              Churn|
+-------+-------------+-----------------+------------------+-------------------+
|  count|          900|              898|               899|                900|
|   mean|         null|41.81069042316258|10064.888242491663|0.16666666666666666|
| stddev|         null| 6.13303075073418| 2409.188637458988| 0.3728852122772358|
|    min|   Aaron King|               22|             100.0|                  0|
|    max|Zachary Walsh|               65|          18026.01|                  1|
+-------+-------------+-----------------+------------------+-------------------+

Note here that the describe() function in Spark dataframes is also including a string variable, Names. In fact it's calculating 'minimum' and 'maximum' values for it too. What is it doing here?

In [28]:
# To get the unique values of a column, we use the distinct() method after selecting the column in question:
df.select('Churn').distinct().show()

+-----+
|Churn|
+-----+
|    1|
|    0|
+-----+

In [116]:
# And the same for the Account_Manager feature
df.select('Account_Manager').distinct().show()

+---------------+
|Account_Manager|
+---------------+
|           null|
|              1|
|              0|
+---------------+

In [42]:
# To get the number of unique values -- i.e. nunique() in pandas -- we simply add the count() function at the end:
df.select('Age').distinct().count()

37

In [43]:
# Finally, to get the shape, we need to apply the count() to get the number of rows:
df.count()

900

In [44]:
# And to get the number of columns, we need to apply the in-built Python function, len() to the list of columns:
len(df.columns)

9

In [47]:
# Together = Shape!
df.count(), len(df.columns)

(900, 9)

### Filtering
In other words, 'selecting' by rows. To do this, we simply use the `filter()` function.

In [48]:
# Let's check out all customers above the age of 40.

# Syntax 1:
df.filter('Age > 40').show(4)

# (and only show us 4 rows for now)

+----------------+---+--------------+---------------+-----+-------------------+--------------------+------------+-----+
|           Names|Age|Total_Purchase|Account_Manager|Years|       Onboard_date|            Location|     Company|Churn|
+----------------+---+--------------+---------------+-----+-------------------+--------------------+------------+-----+
|Cameron Williams| 42|       11066.8|              0| 7.22|2013-08-30 07:00:40|10265 Elizabeth M...|  Harvey LLC|    1|
|   Kevin Mueller| 41|      11916.22|              0|  6.5|2013-08-13 00:38:46|6157 Frank Garden...|  Wilson PLC|    1|
|   Phillip White| 42|       8010.76|              0| 6.71|2014-04-22 12:43:12|13120 Daniel Moun...|   Smith Inc|    1|
|Jessica Williams| 48|      10356.02|              0| 5.12|2009-03-03 23:13:37|6187 Olson Mounta...|Kelly-Warren|    1|
+----------------+---+--------------+---------------+-----+-------------------+--------------------+------------+-----+
only showing top 4 rows

In [50]:
# Syntax 2: This is similar to pandas filtering
df.filter(df['Age'] > 40).show(4)

+----------------+---+--------------+---------------+-----+-------------------+--------------------+------------+-----+
|           Names|Age|Total_Purchase|Account_Manager|Years|       Onboard_date|            Location|     Company|Churn|
+----------------+---+--------------+---------------+-----+-------------------+--------------------+------------+-----+
|Cameron Williams| 42|       11066.8|              0| 7.22|2013-08-30 07:00:40|10265 Elizabeth M...|  Harvey LLC|    1|
|   Kevin Mueller| 41|      11916.22|              0|  6.5|2013-08-13 00:38:46|6157 Frank Garden...|  Wilson PLC|    1|
|   Phillip White| 42|       8010.76|              0| 6.71|2014-04-22 12:43:12|13120 Daniel Moun...|   Smith Inc|    1|
|Jessica Williams| 48|      10356.02|              0| 5.12|2009-03-03 23:13:37|6187 Olson Mounta...|Kelly-Warren|    1|
+----------------+---+--------------+---------------+-----+-------------------+--------------------+------------+-----+
only showing top 4 rows

To create multiple conditions, it's best if we stick to syntax 2, as so:

In [51]:
# Filter for customers who are older than 40, and have an account manager assigned. 

# Only show Names, and Total Purchase, and for now only show 3 rows.
df.select('Names', 'Total_Purchase').filter((df['Age'] > 40) & (df['Account_Manager'] == 1)).show(3)

+--------------+--------------+
|         Names|Total_Purchase|
+--------------+--------------+
|   Ashlee Carr|       14062.6|
|Bruce Phillips|       8771.02|
|  Craig Garner|       8988.67|
+--------------+--------------+
only showing top 3 rows

In [52]:
# How big is this subset?
df.select('Names', 'Total_Purchase').filter((df['Age'] > 40) & (df['Account_Manager'] == 1)).count()

247

We can also filter string values quite easily, if we wanted to:

In [129]:
# Find all customers whose names start with Eric (i.e. their first name). 

# Show only the Names, Age, and Total_Purchase columns 
df.select('Names', 'Age', 'Total_Purchase').filter(df['Names'].startswith('Eric')).show()

# Could also use .endswith('Eric') for last names for instance.

+------------+----+--------------+
|       Names| Age|Total_Purchase|
+------------+----+--------------+
| Eric Lozano|  38|      12884.75|
| Eric Butler|null|      11331.58|
|Erica Flores|  38|       9624.18|
| Eric Kelley|  43|      10271.19|
|  Eric Smith|  37|      11416.56|
| Eric Castro|  38|      10770.82|
| Eric Martin|  44|      14155.97|
|  Eric Terry|  42|      16371.42|
+------------+----+--------------+

In [53]:
# What if we want to find any match regardless of whether the string starts or ends with the name in question?

# Let's search for Terry in first, middle or last name:
df.select('Names', 'Age', 'Total_Purchase').filter(df['Names'].contains('Terry')).show()

+---------------+---+--------------+
|          Names|Age|Total_Purchase|
+---------------+---+--------------+
|    Diane Terry| 53|      13173.82|
|    Kelly Terry| 45|       3689.95|
|     Terry Diaz| 46|      11401.63|
|   Robert Terry| 44|       6517.22|
|  Theresa Terry| 44|       8819.13|
|   Terry Kelley| 37|       9788.78|
|Terry Curtis MD| 48|       8403.02|
|  Kristen Terry| 39|      10292.19|
|     Eric Terry| 42|      16371.42|
+---------------+---+--------------+

We can also filter dates easily using the `between()` function.

In [55]:
# Filter rows for those customers who were onboarded at any point between 2006 and the very beginning of 2008.
df.select('Names','Age','Onboard_date', 'Churn') \
.filter(df['Onboard_date'].between('2006-01-01', '2008-01-01')) \
.count()

# Note on syntax above: we can use the backslash \ to continue our code on the line below for readability.

192

In [57]:
# Show the result rather than count no. of rows
df.select('Names','Age','Onboard_date', 'Churn') \
.filter(df['Onboard_date'].between('2006-01-01', '2008-01-01')) \
.show(3)

+--------------+----+-------------------+-----+
|         Names| Age|       Onboard_date|Churn|
+--------------+----+-------------------+-----+
| Zachary Walsh|  32|2006-03-09 14:50:20|    1|
|Jennifer Lynch|  40|2006-03-28 15:42:45|    1|
| Doris Wilkins|null|2006-09-03 06:13:55|    1|
+--------------+----+-------------------+-----+
only showing top 3 rows

## Cleaning data
As we all know data is messy! Of course with data of large volumes, the problem of messy/incorrect data is amplified. We can deal with them however, in Spark dataframes. 

<u>Note:</u> As with filtering, lots of data cleaning functions are similar to their Pandas equivalents.

In [29]:
# To begin with, let's import the 'functions' submodule as 'f' in case we need any of the handy functions it brings.
import pyspark.sql.functions as f

# Try f.[PRESS TAB] to see what functions are included!

In [31]:
# Let's see where the Null values are in the Age column:
df.filter(f.isnull(df.Age)).show()

# We could also in this case use the following as there's Spark dataframe-specific function that checks for Nulls:
# df.filter(df.Age.isNull()).show()

+-------------+----+--------------+---------------+-----+-------------------+--------------------+-----------------+-----+
|        Names| Age|Total_Purchase|Account_Manager|Years|       Onboard_date|            Location|          Company|Churn|
+-------------+----+--------------+---------------+-----+-------------------+--------------------+-----------------+-----+
|  Eric Butler|null|      11331.58|           null| 5.23|2016-12-05 03:35:43|4846 Savannah Roa...|Reynolds-Sheppard|    1|
|Doris Wilkins|null|       8213.41|              1| 7.35|2006-09-03 06:13:55|28216 Wright Moun...|             null|    1|
+-------------+----+--------------+---------------+-----+-------------------+--------------------+-----------------+-----+

To view the rows where there are any Null values in any of our columns, we could string several conditions together with the `&` logical operator between them -- i.e. 

`df.filter((f.isnull(df['Age'])) & (f.isnull(df['Total_Purchase'])) & ....)`

However, we could just quickly check how many there actually are with the familiar `dropna()` function.

In [33]:
# Count the rows where we have Null values 
df.dropna(how = 'any', subset= None).count()

896

In [135]:
# We can see that only 4 rows out of 900 have Null values.
df.count()

900

In [34]:
# Due to the small number, we'll just go ahead and drop all of them
df2 = df.dropna(how = 'any', subset=None)

Alternatively, if we had wanted to replace the Null values, we could have used .fillna() as follows:
`df.fillna(value = ..., subset = 'Age')`

In [54]:
# Check the count after dropping NUll rows:
df2.count()

896

### Adding, removing, and extracting columns

In [55]:
# We can easily add a column as follows:
df2 = df2.withColumn(colName= 'Age_times_2', col= df2['Age']*2)

## Parameters: 
# colName = the name of our new column
# col = the values of this new column

In [56]:
# Now check columns
df2.columns

['Names',
 'Age',
 'Total_Purchase',
 'Account_Manager',
 'Years',
 'Onboard_date',
 'Location',
 'Company',
 'Churn',
 'Age_times_2']

In [57]:
# This column adds no value here, so we can drop it:
df2 = df2.drop('Age_times_2')

df2.columns

['Names',
 'Age',
 'Total_Purchase',
 'Account_Manager',
 'Years',
 'Onboard_date',
 'Location',
 'Company',
 'Churn']

We can use this same functionality to extract Month and Year values from the __Onboard_date__ variable, using the the `month` and `year` functions respectively from the functions submodule we imported earlier.

In [58]:
# Extract Month
df2 = df2.withColumn('Month', f.month(df2['Onboard_date']))

# Extract Year
df2 = df2.withColumn('Year', f.year(df2['Onboard_date']))

In [59]:
df2.columns

['Names',
 'Age',
 'Total_Purchase',
 'Account_Manager',
 'Years',
 'Onboard_date',
 'Location',
 'Company',
 'Churn',
 'Month',
 'Year']

### GroupBy 
As we've seen so far, Spark dataframes have lots of shared functions with standard SQL queries -- e.g. `select`, `distinct` -- and we can add GroupBy to this this list! Let's explore how we would do a groupBy in Spark.

In [72]:
# Let's try grouping by Year (of onboarding)

df2.groupBy('Year').mean().select('Year', 'avg(Total_Purchase)', 'avg(Account_Manager)').show()

# Note: We select a few columns here just to get neater output.

+----+-------------------+--------------------+
|Year|avg(Total_Purchase)|avg(Account_Manager)|
+----+-------------------+--------------------+
|2007| 10389.766777777775|                 0.5|
|2015| 10043.000810810809|  0.5135135135135135|
|2006| 10061.851584158412| 0.42574257425742573|
|2013|  9588.432499999999|              0.4375|
|2014|  9914.628543689323|  0.5048543689320388|
|2012|  9656.126716417912|  0.4626865671641791|
|2009|  9957.127857142857| 0.47619047619047616|
|2016| 10188.949846153848| 0.47692307692307695|
|2010|  10607.28940476191|  0.4642857142857143|
|2011| 10514.843888888892|  0.5277777777777778|
|2008|  9746.088289473686|                 0.5|
+----+-------------------+--------------------+

In [75]:
# Order in descending order of 'Year' value

df2.groupBy('Year').mean() \ 
.select('Year', 'avg(Total_Purchase)', 'avg(Account_Manager)') \
.orderBy('Year', ascending = False) \
.show()

+----+-------------------+--------------------+
|Year|avg(Total_Purchase)|avg(Account_Manager)|
+----+-------------------+--------------------+
|2016| 10188.949846153848| 0.47692307692307695|
|2015| 10043.000810810809|  0.5135135135135135|
|2014|  9914.628543689323|  0.5048543689320388|
|2013|  9588.432499999999|              0.4375|
|2012|  9656.126716417912|  0.4626865671641791|
|2011| 10514.843888888892|  0.5277777777777778|
|2010|  10607.28940476191|  0.4642857142857143|
|2009|  9957.127857142857| 0.47619047619047616|
|2008|  9746.088289473686|                 0.5|
|2007| 10389.766777777775|                 0.5|
|2006| 10061.851584158412| 0.42574257425742573|
+----+-------------------+--------------------+

We can also groupby several columns in Spark dataframes, somewhat like complex pivot tables, or multi-indexing in Pandas dataframes.

In [78]:
# Let's groupby Year and Month 

df2.groupBy('Year', 'Month').mean() \
.select('Year', 'Month', 'avg(Total_Purchase)', 'avg(Account_Manager)') \
.orderBy(df2['Year'].desc(), 'Month') \
.show()

# Note how you're able to order different variables in different orders -- in this case, we sort 'Year' in descending
# order and Month by the default ascending order.

+----+-----+-------------------+--------------------+
|Year|Month|avg(Total_Purchase)|avg(Account_Manager)|
+----+-----+-------------------+--------------------+
|2016|    1| 11082.634285714286| 0.14285714285714285|
|2016|    2| 10367.696249999999|                 0.5|
|2016|    3| 11216.039999999999|                 0.5|
|2016|    4|          10101.122|                 0.6|
|2016|    5|           9476.245|  0.8333333333333334|
|2016|    6| 11068.869999999999|                 0.4|
|2016|    7|            9050.66|                 0.5|
|2016|    8|          10704.825|                0.25|
|2016|    9|            9151.57|                0.25|
|2016|   10|            8690.08|                 0.6|
|2016|   11|          10502.965|  0.6666666666666666|
|2016|   12|  9076.523333333333|  0.3333333333333333|
|2015|    1|  9767.253999999999|                 0.4|
|2015|    2|  9737.191666666666|  0.3333333333333333|
|2015|    3|          10244.714|                 0.6|
|2015|    4|           11081.34|                0.75|
|2015|    5|         9315.43375|                0.75|
|2015|    6| 11599.667500000001|                0.75|
|2015|    7|         10367.2775|                 0.5|
|2015|    8|            9648.81|                 0.0|
+----+-----+-------------------+--------------------+
only showing top 20 rows

# Machine learning

There are four or so parts to doing any machine learning project, which is the structure Pyspark ML also follows:
- Feature engineering 
- Train/test split, as it's a supervised problem
- Applying the algorithm (modelling)
- Evaluation

### Feature engineering

Like with Sklearn models, we have to transform the categorical features before running them through an ML model. This can be done in two main ways: 
- <u>One-hot encoding:</u> Creating a column for each feature value that takes either a 1 or a 0 for each row. I.e. <i>Year = 2006</i> would be a column in and of its own right with rows being a 1 (Yes), or a 0 (No). This would be applied across the board for all features and all distinct values they can hold. 
- <u>Label encoding:</u> Labelling each distinct value in a column as a distinct number -- i.e. <i>Company X</i> might now be labelled 1, <i>Company Y</i> might be 2 etc. As numerical features, they would then be valid for input in an ML model for Pyspark ML. <br>

However, solely for simplicity reasons, for this workshop we'll be sticking to numerical features.

In [79]:
df2.printSchema()

root
 |-- Names: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Total_Purchase: double (nullable = true)
 |-- Account_Manager: integer (nullable = true)
 |-- Years: double (nullable = true)
 |-- Onboard_date: timestamp (nullable = true)
 |-- Location: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- Churn: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- Year: integer (nullable = true)

In [84]:
# We only want to model on numerical features for now - no need for one-hot encoding for now. We can specify a list
# of column names:

keep_cols = [
 'Age',
 'Total_Purchase',
 'Account_Manager',
 'Years', 
'Year', 
'Month']

# Output
keep_cols

['Age', 'Total_Purchase', 'Account_Manager', 'Years', 'Year', 'Month']

In [85]:
# Check data types in our columns
df2[keep_cols].dtypes

[('Age', 'int'),
 ('Total_Purchase', 'double'),
 ('Account_Manager', 'int'),
 ('Years', 'double'),
 ('Year', 'int'),
 ('Month', 'int')]

Unlike Sklearn however, where a series of column would work, to do any ML with Pyspark we will need to first group the columns into one, as that is the only input it would accept.

In [83]:
# To do this, we'll use the handy VectorAssembler function:
from pyspark.ml.feature import VectorAssembler

In [86]:
# It takes 2 main parameters: 
## 1) inputCols -- these are our input features.
## 2) outputCol -- this is the name of our output vector that is a combination of the input features we specify.

assembler = VectorAssembler(inputCols = keep_cols, outputCol = 'features')

In [87]:
# Just a VectorAssembler object. We haven't applied the transformation yet.
assembler

VectorAssembler_aae4b179f702

In [88]:
# We create the output dataframe:
output_df = assembler.transform(df2)

In [89]:
# let's see the output_dataframe columns
output_df.columns

['Names',
 'Age',
 'Total_Purchase',
 'Account_Manager',
 'Years',
 'Onboard_date',
 'Location',
 'Company',
 'Churn',
 'Month',
 'Year',
 'features']

We can see that it has just added a <i>features</i> column at the end.

In [92]:
# Let's see what that actually looks like:
output_df.select('Age', 'Total_Purchase', 'Account_Manager', 'features').show(2)

# It's simply combined them together in a vector with a comma separating the values of the inputCols.

+---+--------------+---------------+--------------------+
|Age|Total_Purchase|Account_Manager|            features|
+---+--------------+---------------+--------------------+
| 42|       11066.8|              0|[42.0,11066.8,0.0...|
| 41|      11916.22|              0|[41.0,11916.22,0....|
+---+--------------+---------------+--------------------+
only showing top 2 rows

In [94]:
# As mentioned we only want to select the 'features' column for our modeling
final_data = output_df.select('features', 'Churn')

In [95]:
final_data.show(3)

+--------------------+-----+
|            features|Churn|
+--------------------+-----+
|[42.0,11066.8,0.0...|    1|
|[41.0,11916.22,0....|    1|
|[38.0,12884.75,0....|    1|
+--------------------+-----+
only showing top 3 rows

### Train/test split
Since it's a supervised problem we first train our model on our training set and evaluate it by testing it on our test set.

In [97]:
# Train/test split - 70% training, 30% testing
train, test = final_data.randomSplit([0.7, 0.3], seed=123)

<u>Notes:</u> 
- Unlike Sklearn's __train_test_split__ we don't need to pass 4 quadrants, x_train, x_test, y_train, y_test as input. Here, all we need to pass are the train and test, as we're only passing in two columns -- <i>features</i> and <i>Churn</i>.
- We set a seed - here, the arbitrary '123' - to ensure reproducible results.

In [98]:
train.show(3)

+--------------------+-----+
|            features|Churn|
+--------------------+-----+
|[22.0,11254.38,1....|    0|
|[27.0,8628.8,1.0,...|    0|
|[28.0,8670.98,0.0...|    0|
+--------------------+-----+
only showing top 3 rows

In [100]:
train.count(), test.count()

(629, 267)

### Classification
Now for the actual modelling! We'll try Decision trees, and Random Forests for now, but the module has many more algorithms that we can use -- albeit not as comprehensive as sklearn. You can read more on functionality in the [Pyspark ML documentation here](https://spark.apache.org/docs/2.2.0/api/python/pyspark.ml.html).

In [102]:
# We import the functions from the classification submodule.
from pyspark.ml.classification import RandomForestClassifier, DecisionTreeClassifier

1) Decision Tree

In [103]:
# We first assign the function to a variable, specifying the 'labelCol' or predicted column as Churn. We'll leave
# model parameters to their default values for now, as we can always come back to tweak them.
dt = DecisionTreeClassifier(labelCol = 'Churn')


# We then fit the model to our training set
fitted_tree = dt.fit(train)

In [104]:
# Just a model object
fitted_tree

DecisionTreeClassificationModel (uid=DecisionTreeClassifier_0309654a9410) of depth 5 with 35 nodes

2) Random Forest

In [105]:
# We do the same with the random forest:
rf = RandomForestClassifier(labelCol = 'Churn')

# Again, we fit this model to our training set
fitted_rf = rf.fit(train)

## Evaluation
To see how our model has done, we can use the handy `BinaryClassificationEvaluator` and `MulticlassClassificationEvaluator` functions.

In [106]:
# For binary class problems (like ours)
from pyspark.ml.evaluation import BinaryClassificationEvaluator

# For multiclass problems (not like ours, but we'll need it to calculate accuracy & F1)
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [108]:
# First, let's make predictions 
predictions_dt = fitted_tree.transform(test)

# This returns a dataframe with our labels (Churn) and our prediction (prediction)
predictions_dt.show(3)

+--------------------+-----+-------------+--------------------+----------+
|            features|Churn|rawPrediction|         probability|prediction|
+--------------------+-----+-------------+--------------------+----------+
|[25.0,9672.03,0.0...|    0| [134.0,27.0]|[0.83229813664596...|       0.0|
|[26.0,8787.39,1.0...|    1| [134.0,27.0]|[0.83229813664596...|       0.0|
|[26.0,8939.61,0.0...|    0|   [51.0,5.0]|[0.91071428571428...|       0.0|
+--------------------+-----+-------------+--------------------+----------+
only showing top 3 rows

In [110]:
# We can do the same with the random forest:
predictions_rf = fitted_rf.transform(test)

#predictions_rf.show(3)

In [112]:
# To evaluate using the BinaryClassificationEvaluator function, we pass through the label column and the default 
# metric name.
binary_evaluator = BinaryClassificationEvaluator(labelCol = 'Churn', 
                                                    metricName = 'areaUnderROC')

In [113]:
# We use the evaluate() method to actually do the calculation.
binary_evaluator.evaluate(predictions_dt)

0.5800529100529099

In [117]:
# We also do the same with our random forest to compare.
binary_evaluator.evaluate(predictions_rf)

0.6467195767195761

<u>Note:</u> Area Under the ROC (Receiver Operating Characteristic) curve essentially compares how well our model does when compared with randomness. An AUC score of 0.5 represent randomness. Therefore,
- If our AUC > 0.5 - great!
- If our AUC = 0.5 - just as good as random chance. 
- If our AUC < 0.5 - worse than randomness!

The ROC curve is illustrated on a grid where the X-axis is the False Positive rate (FPR) and the Y-axis is the True Positive Rate (also called Recall). To read more into the AUC/ROC or on any other classification metric, check out this excellent [Wikipedia article on the subject](https://en.wikipedia.org/wiki/Receiver_operating_characteristic).

In [121]:
# We do the same with the multiclassClassificationEvaluator function. 
churn_eval_multi = MulticlassClassificationEvaluator(predictionCol = 'prediction', labelCol = 'Churn', 
                                                    metricName = 'accuracy')

# The metrics this function takes are more familiar - to name a few, 'accuracy' and 'F1'

In [118]:
# Accuracy of the decision tree
churn_eval_multi.evaluate(predictions_dt)

0.8089887640449438

In [120]:
# Accuracy of our random forest.
churn_eval_multi.evaluate(predictions_rf)

0.8352059925093633

## End the session
It's not the case here, but if we were connected to a cluster, it would most likely incur costs to keep it running and keep resources allocated for our session. 

We can end the session using the stop() function:

In [122]:
spark.stop()